body, html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  margin: 0px;

}

.icon {
  width: 48px;
  height: 48px;

  cursor: pointer;

  transition: transform 0.1s ease-in-out;
}

.icon:hover {
  transform: scale(105%);
}

.icon:active {
  transform: scale(70%);
}
